@import url('https://fonts.googleapis.com/css?family=Mukta:700');

$bg: #f3f8fa;
$white: #fff;
$black: #FFD23E;

@mixin transition($property: all, $duration: 0.45s, $ease: cubic-bezier(0.65,0,.076,1)) {
  transition: $property $duration $ease;
}

.learn-more {
  position: absolute;
  right: 10px;    
  margin-top: 48px;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  margin-right: -80px;
  &.learn-more {
    width: 10rem;
    height: auto;
    .circle {      
      position: relative;
      display: block;
      margin: 0;
      @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
      width: 3rem;
      height: 3rem;
      border: 1px $black solid;
      border-radius: 1.625rem;
      .icon {         
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: $black;
        &.arrow {
          @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
          left: 0.625rem;
          width: 1.125rem;
          height: 0.125rem;
          background: none;
          &::before {
            position: absolute;
            content: '';
            top: -0.25rem;
            right: 0.0625rem;
            width: 0.625rem;
            height: 0.625rem;
            border-top: 0.125rem solid $black;
            border-right: 0.125rem solid $black;
            transform: rotate(45deg);
          }
        }
      }
    }
    .button-text {
      @include transition(all, 0.45s, cubic-bezier(0.65,0,.076,1));
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 0.6rem 0;
      margin: 0 0 0 1rem;
      color: $black;      
      font-weight: 700;
      line-height: 1.6;
      text-align: center;
      vertical-align: middle;
    }
  }
  .button-text {
    opacity: 0;
  }

  @media (min-width: 720px) {
    &:hover {
      .circle {
        width: 100%;
        .icon {
          &.arrow {
          background: $black;
          transform: translate(1rem, 0);
          }
        }
      }
      .button-text {
          opacity: 1;
          color: $black;
      }
    }    
      margin-right: 0px;    
  }
}