.Card {
    width: 350px;
    height: 250px;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0, 0.5);
    display: grid;
    grid-template-rows: 1fr 1fr;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
    background: #ffffff;
    
    margin: 0 auto;
}

@media (max-width: 768px) {
    .Card {
        width: 190px;
        height: 250px;
    }
    .Card h3 {
        width: auto !important;
        font-size: 21px !important;
        margin: 20px !important;
        line-height: 24px !important;
        
    }
    .Card p {
        padding-top: 0px !important;
    }
}
.Card:hover {    
    box-shadow: 0 10px 20px rgba (255, 255, 255, 0.25);
    transform: scale(1.04, 1.04);
    transition-timing-function: ease-in;
    transition: 1s;
}

.Card h3 {
    color: #000000;
    font-size: 28px;
    line-height: 34px;
    margin: 20px 0 0 20px;
    width: 300px;    
}

.Card p {
    color: rgba(0, 0, 0, 0.7);
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    padding-top: 30px;
    margin: 0 0 20px 20px;
}

.Card a {
    color: #540d6e;
    font-weight: 600;
    font-size: 18px;
    align-self: end;
    margin: 0 0 20px 20px;
}

.horizontal-line {
    width: 80px;
    border: solid 1px #F7991E;
    margin-left: 20px;
}