.Header {
    position: fixed;
    width: 100%;
    padding: 30px 0;
    z-index: 100;
    font-family: Inter;
    background: #FFFFFF;
    transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1.0);
}

.HeaderScrolled {
    background: rgba(0,0,0, 0.8);
    padding: 15px 0;
    backdrop-filter: blur(20px);
}

.HeaderGroup {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, auto);
    align-items: center;
    justify-items: center;
}

.Header a {
    color: #000000;
    font-family: Inter;
    font-weight: 700;
    font-size: 18px;
}

.HeaderScrolled a {
    color: #FFFFFF;
    font-weight: 700;
}

.Header button {
    background: #540D6E;
    padding: 8px 20px;
    font-size: 18px;
    border: none;
    font-family: Inter;
    font-weight: 700;
    color: #FFFFFF;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    transition: 1s; 
}

.Header button:hover {
    background: #000000;
    box-shadow: 0 10px 20px rgba (255, 255, 255, 0.25);
    transform: translateY(-3px);
}

@media (max-width: 800px) {
    .Header {
        height: unset;
        padding: 15px 0;
        position: relative;
    }

    .HeaderGroup {
        grid-template-columns: repeat(4, auto);
    }
    
}
@keyframes HeroAnimation {
    0% {
        opacity: 0;
        transform: translateY(20px)
    }
    100% {
        opacity: 1;
        transform: translateY(0px)
    }
}